@charset "utf-8";
/* CSS Document */


* {
	font-family: 'Lato', sans-serif;
}	
.logo {
	height: auto;
	width: 9em;
	padding: 2%;
}
#myprojects {
	float: right;
	padding: 2% 4%;
	color: #FAED26;
	font-size: 1.5em;
}
a {
	color: #FAED26;
}
/*.nameandtitle {
	
}*/

.name {
	text-align: center;
	color: white;
	font-size: 3em;
}
.title {
	text-align: center;
	color: white;
	font-size: 2em;
 }

.bigpicone {
    display: inline-block;
}
#bigpicimg img {
	display:block;
	position: relative;
	padding-left: 0px;
	padding-right: 0px;
}
.hotbot {
	width: 400px;
	height: auto;

}

#bigpiccontainer {
 width: 100%;
 text-align: center;	
}

.backgroundfortext {
	/*background: #6890FF;*/
	background:#3D6BB4;
	position: relative;
	padding-left: 25%;
	padding-right: 25%;
}
.backgroundfortexttwo {
	position: relative;
	padding-left: 25%;
	padding-right: 25%;
}
.texttitleone {
	text-align: center;
	font-size: 2em;
	padding-top: 3%;	
}
.texttitletwo {
		text-align: center;
	font-size: 2em;
}
.textpicone  {
	width: 100%;
	height: auto;
	padding-top: 5.5%;
}
.textpictwo {
	width: 100%;
	height: auto;
	padding-top: 13%;
}
.ptext {
	font-size: 1.3em;
	line-height: 1.5em;
}
.emailfooter {
	text-align: center;
	color: white;
}
@media only screen and (max-width: 1000px) {
	.backgroundfortext {
		padding-left: 8%;
		padding-right: 8%;
	}
	.logo {
		width: 75px;
		height: auto;
	}
	#myprojects {
		padding-right: 10%;
	}
	.backgroundfortexttwo {
		padding-left: 8%;
		padding-right: 8%;
	}
	.name {
		font-size: 1.6em;
	}
	.title {
		font-size: 1.5em;
	}
	.hotbot {
		width: 230px;
		height: auto;
	}
	.ptext {
		padding-left: 1%;
		padding-right: 1%;
	font-size: 1.3em;
	line-height: 1.5em;
}
	
	.texttitleone {
		padding-bottom: 0%;
	}
	.texttitletwo {
		padding-bottom: 0%;
	}
	
	 
}