@charset "utf-8";
/* CSS Document */



* {
	font-family: 'Lato', sans-serif;
}
	
.logo {
	height: auto;
	width: 100px;
	padding: 2%;
	
}

#homeknap {
float: right;
	padding: 2% 4%;
	color: #FAED26;
	
}
a {
	color: #FAED26;
}

.name {
text-align: center;
	color: white;
	font-size: 4.5em;
	
	
}
.title {
	text-align: center;
	color: white;
}

#o {
	width: 50px;
	height: auto;
}

/*row one*/

.rowoneone {
    display: inline-block;
}
#rowoneimg img {
	position: relative;
	width: 300px;
	height: auto;
	padding-left: 0px;
	padding-right: 0px;

}

#rowonecontainer {
 width: 100%;
 text-align: center;
}



/*row two*/

.rowtwoone,
.rowtwotwo,
.rowtwothree,
.rowtwofour,
.rowtwofive {
    display: inline-block;
}

#rowtwoimg img {
	position: relative;
	width: 300px;
	height: auto;
	padding-left: 0px;
	padding-right: 0px;

}


#rowtwocontainer {
 width: 100%;
 text-align: center;
}


/*row three*/

.rowthreeone,
.rowthreetwo,
.rowthreethree,
.rowthreefour,
.rowthreefive {
    display: inline-block;
}
#rowthreeimg img {
	position: relative;
	width: 300px;
	height: auto;
	padding-left: 0px;
	padding-right: 0px;

}


#rowthreecontainer {
 width: 100%;
 text-align: center;
}

/*row four*/

.rowfourone,
.rowfourtwo,
.rowfourthree {
    display: inline-block;
}
#rowfourimg img {
	position: relative;
	width: 300px;
	height: auto;
	padding-left: 0px;
	padding-right: 0px;

}


#rowfourcontainer {
 width: 100%;
 text-align: center;
}

/*row five*/


.rowfiveone {
    display: inline-block;
}



#rowfiveimg img {
	position: relative;
	width: 300px;
	height: auto;
	padding-left: 0px;
	padding-right: 0px;

}


#rowfivecontainer {
 width: 100%;
 text-align: center;
}
