@charset "utf-8";
/* CSS Document */

body {
	border: #3AAFA9 5px solid;
	background: #7C8992;
	padding: 2%;
}
.container {
		background: -webkit-linear-gradient(to top right,#3AAFA9, #FEFFFF);
	background: linear-gradient(to top right, #3AAFA9, #FEFFFF);  
	border: solid black;
}

.topnav {
	color: white;

}
h3 {
	color:#FEFFFF;

}

#standinlogo {
	width: 120px;
	height: auto;
}
a {
	color: black;

}
.myworklink {
	font-size: 1.3em;
	float: right;
	
}
.andreastitler {
	color: white;
	padding-top: 5%;
	line-height: 1em;
  text-align: center;
	font-size: 1.3em;
}
h2 {
font-size: 1em;
}
p {
	line-height: 0.5em;
}
#name {
	
}
.lowericons {
	width: 185px;
	height: auto;
}
img {
	
	
}