@charset "utf-8";
/* CSS Document */



* {
	font-family: 'Lato', sans-serif;
}


	
.logo {
	height: auto;
	width: 9em;
	padding: 2%;
	
}

#myprojects {
float: right;
	padding: 2% 4%;
	color: #FAED26;
	font-size: 1.5em;
	
}
a {
	color: #FAED26;
}
.nameandtitle {
	
}

.name {
text-align: center;
	color: white;
	font-size: 3em;

	
	
}
.title {
	text-align: center;
	color: white;
	font-size: 2em;
	
 }

.bigpicone {
    display: inline-block;
	
}
#bigpicimg img {
	display:block;
	position: relative;

	padding-left: 0px;
	padding-right: 0px;

}


#bigpiccontainer {
 width: 100%;
 text-align: center;
	
}

.backgroundfortext {
	/*background: #6890FF;*/
	background:#3E546E;
	position: relative;
	padding-left: 25%;
	padding-right: 25%;
	margin-top: 2%;
}
.backgroundfortexttwo {

	position: relative;
	padding-left: 25%;
	padding-right: 25%;
}

.textpic {
	width: 60%;
	height: auto;
	border: 2px solid black;
	float: right;
	

}
.textpictwo {
	width: 250px;
	height: auto;
	float: left;
	padding-right: 5%;
}
.ptext {
	font-size: 1.3em;
	line-height: 1.5em;
	text-align: center;
}


.emailfooter {
	text-align: center;
	color: white;
}
.texttitleone {
	text-align: center;
	font-size: 2em;
	padding-top: 3%;	
}
.abe {
	width: 100%;
	height: auto;
}
.tiger {
	width: 100%;
	height: auto;
}
.blackabe {
	width: 100%;
	height: auto;
}
.wolf {
	width: 100%;
	height: auto;
}
.bro {
	width: 100%;
	height: auto;
}
.backgroundforpix {
	/*background:#5F5F5F;*/
}


.row {
  display: flex;
  flex-wrap: wrap;
  padding: 0 4px;
}

.column {
  flex: 50%;
  max-width: 45%;
  padding-left: 3%;
}

.column img {
  margin-top: 8px;
  vertical-align: middle;
	
	border: 5px white solid;
}
.topbutton {
	text-align: center;
	padding-left: 48%;
	font-size: 1.4em;
	color: white;
}
@media screen and (max-width: 800px) {
  .column {
    flex: 50%;
    max-width: 50%;
  }
}

@media only screen and (max-width: 600px) {
  .column {
    flex: 100%;
    max-width: 100%;
  }
}


@media only screen and (max-width: 890px) {
	.name {
		font-size: 2em;
	}
	.title {
		font-size: 2em;
	}
	.logo {
		width: 75px;
		height: auto;
	}
	#myprojects {
		padding-right: 10%;
	}
}